<%= erb :nav %>

<div class="container">
  <% if @user %>
    <h1>Welcome, <%= @user.email %></h1>
  <% end %>
  <br>
  <h3>Filters</h3>
  <% for tag in @tags %>
    <a class="btn btn-secondary btn-sm" href="/filter?tag_id=<%= tag.id %>"> <%= tag.name %> </a>
  <% end %>
  <a class="btn btn-sm" href="/"> Remove Filter </a>
  <br>
  <h3>Diary Entries</h3>
    <% for entry in @entries %>
      <div class="border rounded bg-light">
        <a href="/read?id=<%= entry.id %>" id="entry_<%= entry.id %>"> <%= entry.title %> </a>
        <% for tag in entry.tags %>
          <span class="badge badge-secondary"><%= tag.name %></span>
        <% end %>
        <a class="btn btn-warning btn-sm float-right" href="/delete?id=<%= entry.id %>" id="delete_entry_<%= entry.id %>"> Delete </a>
      </div>
      <br>
    <% end %>
</div>
