<%= erb :nav %>

<div class="container">
  <h3><%= @entry.title %></h3>
  <p><%= @entry.body %></p>
  <a class="btn btn-primary float-right" href="/update-entry?id=<%= @entry.id %>">Update</a>
  <br>
  <form action="/save-comment?entry_id=<%= @entry.id %>" method="post">
    <div class="form-group">
      <label for="new_comment"> Add a comment </label>
      <input type="text" class="form-control" name="body">
      <br>
      <input class="btn btn-success float-right" type="submit" value="Save Comment">
    </div>
  </form>
  <% for comment in @entry.comments %>
    <p><%= comment.body %></p>
  <% end %>
</div>
