
<%= erb :nav %>

<div class="container">
  <div class="jumbotron">
    <h3><%= @header %></h3>
    <form action="<%= @action %>" method="post">
      <div class="form-group">
        <% for tag in @tags %>
          <span class="border">
            <label class="checkbox-inline">
            <input type="checkbox" value="<%= tag.id %>" name="tag<%= tag.id %>" <% if @entry.tags.map(&:id).include? tag.id %> checked <% end %>>
            <%= tag.name %>
          </label>
        </span>
        <% end %>
        <a class="btn btn-sm btn-outline-success" href="/create-tag?redirect=<%= @url %>">Add Tag</a>
        <br>
        <label for="title"> Title </label>
        <input class="form-control" name="title" id="title" rows="6" value="<%= @entry.title %>" required>
        <br>
        <label for="body"> Entry </label>
        <textarea class="form-control" name="body" id="body" rows="6" required><%= @entry.body %></textarea>
        <br>
        <input class="btn btn-success float-right" type="submit" value="Save">
      </div>
    </form>
  </div>
</div>
